#revision-input {
  display: block;
  width: 80%;
  height: 15em;
}

#name-input {
  display: block;
}

#submit-btn {
  margin-top: .2em;
}

#warning-span {
  background-color: red;
  color: white;
  margin: 1em;
}
